table {
    display: flex;
    justify-content: center;
    align-items: center;

    td {
        max-width: 500px;
        border: 5px solid white;
        padding: 10px;
        word-wrap: break-word;
    }
}

.container {
    max-width: 500px;
    max-height: 500px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.column img {
    max-width: 60px;
    max-height: 60px;
    height: 60px;
    object-fit: contain;
}

.mySlides img {
    max-width: 500px;
    max-height: 300px;
    height: 300px;
    object-fit: contain;
}

.prev, .next {
    top: 50%;
}

.title .name {
    font-size: 75px;
    max-font-size: 75px;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
    }

    .title {
        position: absolute;
        top: 50px;
    }

    .container {
        top: 250px;
    }

    .description {
        position: absolute;
        top: 1000px;
    }
}