RewriteEngine on

# RewriteRule verwalten.php /verwalten.php?tab=manage [L,R]
Redirect /management/ /management/verwalten.php
Redirect /sql-php/ index.php
Redirect /css/ index.php
Redirect /components/ index.php
Redirect /img/ index.php